# Build folders
obj/
bin/

# Alire generated folders
config/
alire/

# release-version.sh input and output
artifacts/
binary/
packages/
deb-temp/
rpm-temp/

# installer/aur/create-packages-arch-source.sh build and output folders
arch_pkgbuild/
arch_source_packages/

# Editor and OS files
.vscode/
.DS_Store
