[Unit]
Description=PowerJoular service

[Service]
Type=simple
Restart=always
User=root
ExecStart=/usr/bin/powerjoular -o /tmp/powerjoular-service.csv

[Install]
WantedBy=multi-user.target
